body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
}
h1{
    font-size: 36px;
    font-weight: bold;
    color: white;
   

}
.heading {
    position: absolute;
    top: 20px;
    right:50px;
    left: 50px;
    text-align: center;
    font-size: 36px; /* Increased font size */
    font-weight: bold;
    color: #333;
    padding: 20px;
    margin-bottom: 10px; /* Added margin to separate from the name cards */
    background: linear-gradient(145deg, #6e8efb, #a777e3); /* Gradient text color */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container {

    transform: translateY(-95px);
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 20px; /* Added padding for spacing around the container */
}

.carousel {
    margin: 0 15px; /* Added margin for spacing between carousels */
    height:300px;
    width:300px;
}

.carousel-button {
    width: 300px;
    height: 580px;
    background-color: #6e8efb;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: #a777e3;
}