<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hello</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="heading">Welcome to Graph World !!</div>
    <div class="container">
      <a href="screen2.html"
        ><div class="carousel">
          <button class="carousel-button">Problem 1</button>
        </div>
      </a>
      <a href="screen2.html"
        ><div class="carousel">
          <button class="carousel-button">Problem 2</button>
        </div>
      </a>
      <a href="screen2.html"
        ><div class="carousel">
          <button class="carousel-button">Problem 3</button>
        </div>
      </a>
    </div>
  </body>
</html>
